[user]
	name = Mart Clanor
	email = mart.dayniel.clanor@witteveenbos.com
[init]
	defaultBranch = main
[core]
	editor = vim
[diff]
	tool = vimdiff
	algorithm = histogram
[difftool]
	prompt = false
[difftool "vimdiff"]
	cmd = vimdiff \"$LOCAL\" \"$REMOTE\"
[format]
	pretty = oneline
[log]
	abbrevcommit = yes
