[user]
	name = Mart Clanor
	email = mart.dayniel.clanor@witteveenbos.com
	signingkey = 4883170A764B8D90
[init]
	defaultBranch = main
[core]
	editor = vim
[diff]
	tool = vimdiff
	algorithm = histogram
[difftool]
	prompt = false
[difftool "vimdiff"]
	cmd = vimdiff \"$LOCAL\" \"$REMOTE\"
[format]
	pretty = oneline
[log]
	abbrevcommit = yes
[pull]
	ff = only
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[rebase]
	updateRefs = true
[merge]
	conflictstyle = zdiff3
