# Configuration for Bash input

# To reload this .inputrc, run: bind -f ~/.inputrc

# Disable audible bell on tab-completion
set bell-style none

# Enable meta key
set meta-flag on
set input-meta on
set convert-meta off  # Prevent Bash from trying to convert meta characters
set output-meta on  # Allow meta characters to be output

# Append a slash to symbolic links to directories in auto-complete
set mark-symlinked-directories on

# Set the command line editing to vi mode
set editing-mode vi
set keymap vi-command

# Show current vi mode (insert/command) in prompt
set show-mode-in-prompt on
set vi-ins-mode-string "\1\e[5 q+\2"  # Indicator for insert mode
set vi-cmd-mode-string "\1\e[2 q:\2"  # Indicator for command mode
set keyseq-timeout 0  # Remove delay when switching modes
